.DS_Store
build

__pycache__

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Emacs backups, logs, and the generated json file
*~
*.log
chaosConfig.json

# VS Code directory
.vscode/*
settings.json
chaos/.vscode/settings.json

# generated json files
*.json

# virtual environments
chaosface/venv/*