#---------------------------------------------------------------------------------------------------
# Twitch Controls Chaos (TCC)
#
# This is the main configuration file for the chaos engine itself. It's read once, during
# initialization. Settings for individual games are maintained in separate configuration files and
# loaded on a game-by-game basis.
#---------------------------------------------------------------------------------------------------
# Version string for the TOML file format. Currently used only to verify that we're reading the
# right file. If we later introduce backwards incompatibilities, this can be used to ensure that
# the game configuration files use a matching version.
chaos_toml = "1.0"

# Default directory where we look for games. This is used if no specific game file is specified on
# the command line and the default game contains no path. Game configuration files put here can
# also be reported to the chaos interface as available games
game_directory = "./games/"

# If no game file is specified on the command line, this is the game that we load.
# If this string does not contain an absolute path, we look for the file in the game_directory.
default_game = "tlou2.toml"

# IP address/domain name of the computer running the chaos interface. Use 'localhost' if you're
# running both the interface and the engine on the Raspberry Pi.
interface_addr = "localhost"

# Port to send outgoing messages to the chaos interface
interface_port = 5556

# Port to listen for incoming messages from the chaos interface
listener_port = 5555

# How long, in microseconds, should the engine sleep between executions of the main loop
usleep_interval = 500

# Directory to keep logs and json files. This path can be relative or absolute.
# The default is relative to the home directory of the user running the engine.
log_directory = "."

# Name of the basic log file. Default = "chaos.log"
log_file = "chaos.log"

# If true, we delete any existing log file when starting the program
overwrite_log = true

# Level of message detail sent to the log file for the main program. Must be an integer from 0 to
# 6. Higher numbers include all messages of the lower types. To see sniffify events (usb debugging),
# you need to set the log level to verbose.
# 0 = NONE (logging disabled)
# 1 = FATAL
# 2 = ERROR
# 3 = WARNING
# 4 = INFO
# 5 = DEBUG
# 6 = VERBOSE
log_verbosity = 4

# max_log_size: Maximum log-file size in bytes
max_log_size = 0
# max_log_files: Maximum number of log files to keep (0 = disable log rolling)
max_log_files = 0
