[Unit]
Description=Twitch Controls Chaos interface
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/chaos
Environment=PYTHONUNBUFFERED=1
Restart=always
RestartSec=2
ExecStart=/usr/local/chaos/venv/bin/python -m chaosface.apps.TwitchControlsChaos
#User=pi

[Install]
WantedBy=multi-user.target
