[Unit]
Description=Twitch Controls Chaos engine
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/chaos
Restart=always
RestartSec=1
ExecStart=/usr/local/chaos/startchaos.sh

[Install]
WantedBy=multi-user.target
