[Unit]
Description=ChaosController interceptor
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/bin/bash /usr/local/chaos/startchaos.sh

[Install]
WantedBy=multi-user.target
