[Unit]
Description=Twitch Controls Chaos interface
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
WorkingDirectory=/usr/local/chaos
Environment=PYTHONUNBUFFERED=1
Restart=always
RestartSec=3
ExecStart=/usr/local/chaos/venv/bin/python -m chaosface.apps.TwitchControlsChaos
#User=pi

[Install]
WantedBy=multi-user.target
